<div
  class="sidebar"
  [ngClass]="isLeftSidebarCollapsed() ? 'sidebarCollapsed' : ''"
>
  <div class="logoContainer">
    <button class="logo" (click)="toggleCollapse()">
      <i class="fal fa-solid fa-bars"></i>
    </button>
    @if (!isLeftSidebarCollapsed()) {
      <div class="logoText">Weather</div>
      <button class="closeBtn" (click)="closeSidenav()">
        <i class="fal fa-times fa-solid close-icon"></i>
      </button>
    }
  </div>
  <div class="sidebarNav">
    @for (item of navItems; track $index) {
      <li class="sidebarNavItem">
        <a
          class="sidebarNavLink"
          [routerLink]="item.routeLink"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="sidebarLinkIcon" [class]="item.icon"></i>
          @if (!isLeftSidebarCollapsed()) {
            <span class="sidebarLinkText">{{ item.label }}</span>
          }
        </a>
      </li>
    }
  </div>
</div>
